/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  background-color: #f1f5f9;
  color: #0f172a;
}

/* LAYOUT */
.app-container {
  min-height: 100vh;
}

.main-content {
  padding: 40px;
  display: flex;
  justify-content: center;
}

/* NAVBAR */
.navbar {
  background: #020617;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: 600;
  color: #e2e8f0;
  cursor: pointer;
}

/* RIGHT */
.nav-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* OPEN NAV LINKS (no border/button look) */
.nav-link {
  background: none;
  border: none;
  color: #cbd5f5;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 8px;
  transition: 0.2s ease;
}

/* HOVER */
.nav-link:hover {
  color: #ffffff;
}

.card {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

/* INPUT */
.input-group {
  margin: 12px 0;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cbd5f5;
  outline: none;
}

input:focus {
  border-color: #2563eb;
}

/* BUTTON */
.btn {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background: #2563eb;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn:hover {
  background: #1e40af;
}

/* QUANTITY CONTROL */
.quantity-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
}

.qty-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #eaf2ff;
  color: #1e3a8a;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.qty-btn:hover {
  background: #dbeafe;
}

.qty-value {
  font-size: 18px;
  font-weight: bold;
}

/* DISABLED */
.disabled-btn {
  background: #cbd5f5 !important;
  color: #64748b;
  cursor: not-allowed;
}